@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

body{
    background: linear-gradient(#e66465, #9198e5);
}
.container{
    width: 31.25em;
    background-color: #f8f8f8;
    padding:5em 3.75em ;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.7em;
    box-shadow: 0 1em 4em rgba(71,50,4,0.3);
}

input,
#submit {
    border: none;
    outline: none;
    display: block;
    border-bottom: 2px solid #202020;

}
input{
    width: 100%;
    background-color: transparent;
    margin-bottom: 2em;
    padding: 1em 0 0.5em 0.5em;
    border-bottom: 2px solid #202020;
}
#submit{
    position: relative;
    left: 0;
    font-size: 1.1em;
    width: 7em;
    background-color: #ffc13d;
    padding: 0.8em 0;
    margin-top: 2em;
    border-radius: 0.3em;
}

#message-ref{
    font-size: 0.9em;
    margin-top: 1.5em;
    color: #34bd34;
    visibility: hidden;
}


